[data-layout="root"] {
  display: grid;
  grid-template-areas:
    "menu    menu    menu"
    "sidebar main    aside"
    "footer  footer  footer";
  grid-template-rows: var(--layout-menu-h) 1fr var(--layout-footer-h);
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--cm-background);
  color: var(--cm-foreground);
}

[data-layout="menu-bar"] {
  grid-area: menu;
}

[data-layout="sidebar"] {
  grid-area: sidebar;
  display: none;
}

[data-layout="main"] {
  grid-area: main;
  overflow: hidden;
}

[data-layout="aside"] {
  grid-area: aside;
  display: none;
}

[data-layout="footer-bar"] {
  grid-area: footer;
}
